<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <header>     
      <h1>Area do administrador</h1>
      <h2>Usuario: {{usuario.nome}}</h2>
    </header>
    <main>      
      <ul>       
          <li>
              <a href="produto">Produto</a>
          </li>

          <li>
              <a href="categoria">Categorias</a>
          </li>          
           
        <a href="usuarios/{{usuario.id}}">
          <li>Perfil</li>         
        </a>        
      </ul>
    </main>  

  </body>
</html>
