<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Inserir Novo Produto</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <li style="margin-right: 20px;">
        <a href="/">
          <img src="https://via.placeholder.com/100x40" alt="Logo" style="height: 40px; width: auto;">
        </a>
      </li>
    <h1>Inserir Novo Produto</h1>
    <form action="/produto/criar" method="POST">
      <label for="descricao">Descrição do Produto:</label>
      <input type="text" id="descricao" name="descricao" placeholder="Digite a descrição do produto" required />

      <label for="preco">Preço:</label>
      <input type="number" id="preco" name="preco" step="0.01" placeholder="Digite o preço" required />

      <label for="quantidade">Quantidade:</label>
      <input type="number" id="quantidade" name="quantidade" placeholder="Digite a quantidade" required />

      <label for="categoria">Categoria:</label>
      <select name="categoria" id="categoria" required>
        {{#each categorias}}
          <option value="{{this.id}}">{{this.nome}}</option>
        {{/each}}
      </select>

      <button type="submit">Salvar</button>
    </form>
    <br>
    <a href="/produto">Voltar para a lista</a>
  </div>
</body>
</html>
